<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Connect@Cal General Chatbot</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" src="static/styles/style.css"> -->
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
  <!--script type="text/javascript" src="intents.json"></script-->
</head>

<body>
  <!-- partial:index.partial.html -->
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
      <br>
      <h1 style="font-family: 'Quicksand', sans-serif;"> Connect@Cal General Cases Chatbot </h1>
      <br>
      </div>
    </header>

    <main class="msger-chat">
      <div class="msg left-msg">
        <div class="msg-img" style="background-image: url(https://i.ibb.co/TKjfK1y/Group-8.png)"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div  class="msg-info-name">Connect@Cal</div>
          </div> 

          <div class="msg-text">
            <p>Hi! 👋 We're Connect@Cal, the one stop service to connect you to the most relevant resources, programs, and opportunities! </p>
            <br>
            <button onclick="sendMessage('I am ready to get connected!')" style="margin-left: 0px; border-radius: 5px; padding: 10px; font-family: 'Quicksand', sans-serif;" class="msger-send-btn"> I am ready to get connected!</button>
          </div>

          <div id="like_button_container"></div>

        </div>

      </div>

    </main>

    <form class="msger-inputarea">
      <input type="text" style="font-family: 'Quicksand', sans-serif; outline-color: #056BA5;" class="msger-input" id="textInput" placeholder="Please write a reply...">
      <button style="font-family: 'Quicksand', sans-serif;" type="submit" class="msger-send-btn">Send</button>
   
    </form>
  </section>

  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>


  <!-- <script type="text/javascript" src="../js/index.js"></script> -->
  <script src="{{url_for('static', filename='index.js')}}"></script>

  <!-- Load our React component. -->
  <script src="{{url_for('static', filename='like_button.js')}}"></script>

  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <!-- <script type="text/javascript" src='../js/index.js'></script> -->

</body>

</html>